[submodule ".vim/pack/dist/start/nerdcommenter"]
	path = .vim/pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule ".vim/pack/plugins/start/ansible-vim"]
    path = .vim/pack/plugins/start/ansible-vim
    url = https://github.com/pearofducks/ansible-vim.git
[submodule ".vim/pack/plugins/start/indentLine"]
	path = .vim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
